

body,html {
    background-image: url('./images/wallpaperflare.com_wallpaper.jpg');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
    
}
#home {
    text-align: center;
    color: aqua;
    position: relative;
    top: 110px;
}
.welcome{
    font-family: 'Flavors', cursive;
    font-weight: 100;
    font-size: 90px;
}
.to{
    font-family: 'DotGothic16', sans-serif;
    font-style: italic;
    font-size: 70px;
}
.name{
    font-size: 120px;
    font-family: 'Flavors', cursive;
}

#about{
    text-align: center; 
    position: relative;
    top: 300px;
    color: aqua;
   font-size: 25px;
   background-color: rgba(0, 0, 0, 0.8);
   margin-left: 2%;
   margin-right: 2%;
   padding-bottom: 20px;
   font-family: 'Akaya Telivigala', cursive;
}
#size{
    text-align: center; 
    position: relative;
    top: 370px;
    color:aqua;
   font-size: 25px;
   background-color:rgba(0, 0, 0, 0.8);
    margin-left: 2%;
margin-right: 2%;
padding-bottom: 20px;
padding-left: 6%;
}











  

